<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.antyzero.smoksmog"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".SmokSmogApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DragonTheme.NoActionBar">

        <activity
            android:name=".ui.screen.start.StartActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.order.OrderActivity"
            android:parentActivityName=".ui.screen.start.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.start.StartActivity"/>
        </activity>

        <activity
            android:name=".ui.screen.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.screen.start.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.start.StartActivity"/>
        </activity>

        <!-- Old Activities below - TODO correct -->

        <activity
            android:name=".ui.screen.history.HistoryActivity"
            android:label="@string/title_history"
            android:parentActivityName=".ui.screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.screen.about.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".ui.screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.main.MainActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c208eb302fab96d2350bc2f78bd866f5fb4627a8"/>
    </application>

</manifest>
