<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antyzero.smoksmog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SmokSmogApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DragonTheme.NoActionBar">

        <activity
            android:name=".ui.screen.start.StartActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.order.OrderActivity"
            android:parentActivityName=".ui.screen.start.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.start.StartActivity" />
        </activity>

        <activity
            android:name=".ui.screen.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.screen.start.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.start.StartActivity" />
        </activity>

        <activity
            android:name=".ui.screen.history.HistoryActivity"
            android:label="@string/title_history"
            android:parentActivityName=".ui.screen.start.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.screen.start.StartActivity" />
        </activity>

        <activity
            android:name=".ui.screen.PickStation"
            android:label="@string/title_pick_station" />

        <receiver android:name=".ui.widget.StationWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_station" />
        </receiver>

        <activity android:name=".ui.widget.StationWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.widget.StationWidgetService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c208eb302fab96d2350bc2f78bd866f5fb4627a8" />

    </application>

</manifest>
